<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>About this app</h3>
  <p>
    Basic Ionic App with random data generating functionaly for basic data like pharases, numbers.
  </p>
  <br><br>
  <p>
    Phrases can be anything like a random answer generator to various scenarios like:
  </p>

  <ul>
    <li>Magic ball (generate responses for questions that you have)</li>
    <li>Generate a sentence among multimple ones when confuses</li>
    <li>Generate a random number!</li>
  </ul>
</ion-content>
