<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  
  <ion-card (click)="goToGenPhrase()">
    <ion-card-header>
      <ion-card-subtitle>Generate Random Phrases</ion-card-subtitle>
      <ion-card-title>Random Phrase Generator</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="goToDiceApp()">
    <ion-card-header>
      <ion-card-subtitle>Generate Random Number</ion-card-subtitle>
      <ion-card-title>Dice App</ion-card-title>
    </ion-card-header>
  </ion-card>
  

</ion-content>
